.banner {
  color: white;
  text-align: center;
  height: 75vh;
  background-size: cover !important;
  display: flex;
  padding-top: 75px;
  justify-content: center;
}
.banner h1 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner .banner-content p {
  color: black;
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 50px;
}
.banner .btn {
  margin-top: 20px;
}
