<div class="container">
  <div class="card-cris">
  <div class="col-sm-12">
    <div class="col-sm-6">
      <div class="reviewer">Chris Steenbeck</div>
    </div>
    <div class="col-sm-6">
      <div class="stars">STARS STARS STARS</div>
      <div class="the_date">01.01.2011</div>
      <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
    </div>
  </div>
</div>
</div>
